how to create a list(1D)

In [1]:
lst=[]*4
lst

[]

In [193]:
name=["afg","bjkl","cuij","aftyhd","ahyh","fggl"]
for i in name:
    #print(i)
   if i[0]=="a":
        print(i)

afg
aftyhd
ahyh

In [194]:
name=["afg","bjkl","cuij","aftyhd","ahyh","fggl"]
for i in name:
    print(i)

afg
bjkl
cuij
aftyhd
ahyh
fggl

In [195]:
name=["a","b","c","d","f"]
age=[23, 12,34,32,54]
for i in range(5):
    print(name[i],age[i])

a 23
b 12
c 34
d 32
f 54

In [197]:
name=[""]*5
age=[0]*5
for i in range(5):
    name[i]=str(input("entr the name"+str(i+1)))
    age[i]=int(input("entr the age"+name[i]+"s' age"))

entr the name1 e
entr the agees' age 4
entr the name2 g
entr the agegs' age 6
entr the name3 k
entr the ageks' age 6
entr the name4 m
entr the agems' age 9
entr the name5 f
entr the agefs' age 8

In [9]:
name=[""]*5
age=[0]*5
for i in range(5):
    name.append(str(input("entr the name"+str(i+1))))
    age.append(int(input("entr the age:"+str(name[i])+"s' age")))

entr the name1 ghj
entr the age:s' age 23
entr the name2 fgh
entr the age:s' age 45
entr the name3 vbn
entr the age:s' age 34
entr the name4 tyu
entr the age:s' age 23
entr the name5 bnm
entr the age:s' age 45

In [14]:
age=[]
age

[]

how to create 2D list

In [22]:
lst2=[[0] for i in range(4)]
lst2

[[0], [0], [0], [0]]

In [23]:
lst3=[[0]*3 for i in range(4)]
lst3

[[0, 0, 0], [0, 0, 0], [0, 0, 0], [0, 0, 0]]

In [25]:
lst4=[[0]*3 for i in range(4)]*2
lst4

[[0, 0, 0],
 [0, 0, 0],
 [0, 0, 0],
 [0, 0, 0],
 [0, 0, 0],
 [0, 0, 0],
 [0, 0, 0],
 [0, 0, 0]]

In [170]:
lst2=[[] for i in range(4)]
for i in range(4):
    lst2[i].append(int(input("entr the nmbr")))
print(lst2)
len(lst2)

entr the nmbr 2
entr the nmbr 3
entr the nmbr 4
entr the nmbr 5

[[2], [3], [4], [5]]

4

In [38]:
#copies of list
f=[[0]*2]*3
f

[[0, 0], [0, 0], [0, 0]]

adding user input  to a 2d list

In [40]:
lst3=[[0]*3 for i in range(4)]
for i in range(3):
    lst3[i][1]=str(input("entr the persn"))
    lst3[i][2]=str(input("entr the prsn"))
for j in range(3):
    print(lst3[j][0],lst3[j][1])
print(lst3)

entr the persn a
entr the prsn b
entr the persn c
entr the prsn d
entr the persn e
entr the prsn f

0 a
0 c
0 e
[[0, 'a', 'b'], [0, 'c', 'd'], [0, 'e', 'f'], [0, 0, 0]]

In [63]:
lst3=[[0]*3 for i in range(4)]
for i in range(3):
    lst3[i].insert(1,int(input("entr the prsn")))
    lst3[i].insert(2,int(input("entr the prsn")))
#for j in range(3):
 #   print(lst3[j][0],lst3[j][1])
print(lst3)

entr the prsn 1
entr the prsn 2
entr the prsn 3
entr the prsn 4
entr the prsn 5
entr the prsn 6

[[0, 1, 2, 0, 0], [0, 3, 4, 0, 0], [0, 5, 6, 0, 0], [0, 0, 0]]

In [ ]:
list.insert(index, obj)

In [57]:
lst3=[0]*5
lst3.append(int(input()))
lst3.insert(0,(int(input())))
lst3.pop()
lst3.remove(2)
lst3

 1
 2

[0, 0, 0, 0, 0]

In [47]:
lst3[3]

4

How to create a tuple (), dictonary{}, set {}

In [34]:
t_uple= ("b",655,"ammu", True, 2.567)
print(t_uple)
#t_uple[2]= "achu"
print(t_uple[2])
print(t_uple[-2])
print(t_uple[-4:-2]) #slicing method

t_uple_lst= list(("b",655,"ammu", True, 2.567))#converting tuple into list
#type(t_uple)
type(t_uple_lst)

('b', 655, 'ammu', True, 2.567)
ammu
True
(655, 'ammu')

list

In [35]:
t_uple1= ("b",False, "chinju", 34,("hj",8.90))
print(t_uple + t_uple1) #concainate two tuple,

('b', 655, 'ammu', True, 2.567, 'b', False, 'chinju', 34, ('hj', 8.9))

In [66]:
dic_t={"name":"manju", "value": 23, "bool": True, "lst":(1,"r")}
print(dic_t)

print(dic_t["name"])
print(type(dic_t["lst"]))

print(dic_t.keys())
print(dic_t.values())
dic_t.pop("value")

print(dic_t)
print(type(dic_t))

{'name': 'manju', 'value': 23, 'bool': True, 'lst': (1, 'r')}
manju
<class 'tuple'>
dict_keys(['name', 'value', 'bool', 'lst'])
dict_values(['manju', 23, True, (1, 'r')])
{'name': 'manju', 'bool': True, 'lst': (1, 'r')}
<class 'dict'>

In [88]:
se_t=set(["a","m","y",8,True,90,"j","a"]) #to create a set use set command in the biginig
print(se_t)
se_t1= set(["56",7.90,"p","a"])

print(se_t | se_t1) #OR for UNION 
print(se_t & se_t1) #AND FOR intersection
print(se_t<se_t1) #subset
print(se_t -se_t1) #difference
print(7.90 in se_t)
print(7.90 in se_t1)

{True, 'm', 8, 'j', 'a', 90, 'y'}
{True, 7.9, 'm', 8, 'j', 'a', 90, 'p', 'y', '56'}
{'a'}
False
{True, 'm', 8, 'j', 90, 'y'}
False
True

In [94]:
se_t1= set(["56",7.90,"p","a"])
s_et= se_t1.copy()
s_et.issuperset(se_t1) # to check whether s_et is superset
s_et.remove("p")
s_et & se_t1

{'56', 7.9, 'a'}

buil-in Functions in python

In [109]:
 #string functions:
a="hello"
a=a.join("abc") #it 
len(a)
a.lower()
a.upper()
a.replace("c","d")

'ahellobhellod'

In [139]:
v="ertU"
v.swapcase()
a="hello"

a.zfill(10)
max(a)
min(a)
a.isdigit()
a.islower()
a.isupper()
a.title()
a.istitle()

i= " "
print(i.isspace())
i.isalpha()

False

In [150]:
a="hello world"
#a.capitalize()
a.center(12,"@")
a.center(20,"@")

[' demons', 'ra', 'e ', 'he spli', 'e func', 'ion']

In [160]:
sen="demonstrate the splite function"
sen.split("t") # these are also applicable for list, tuple etc.
sen.index("m")

2

userdefined functions in python

In [1]:
def vowels(sentence):
    v1=sentence.count("a")
    v2=sentence.count("e")
    v3=sentence.count("i")
    v4=sentence.count("o")
    v5=sentence.count("u")
    sm=v1+v2+v3+v4+v5
    return sm


s=vowels(input())
p=vowels(input())
print("s=",s,"p=",p)

if s>p:
     print("s has larger vwls")
else:
     print("p has larger vwls")

  Checking your network cables, modem, and router
 And the web just isn't the same without you. Let's get you back online!

s= 14 p= 20
p has larger vwls

In [2]:
#positional arguments
def add(name, age):
    print("my name is", name, "iam", age,"yrs old")
    
u=add("fgy",56)
i=add(56,"fgy")

my name is fgy iam 56 yrs old
my name is 56 iam fgy yrs old

In [3]:
#keyword argument
def add(name,age):
     print("my name is", name, "iam", age,"yrs old")    
l=add("jenny", age=56)
l

my name is jenny iam 56 yrs old

In [4]:
#default argument
def add(name,age=56):
     print("my name is", name, "iam", age,"yrs old")   
j=add("jenny")
j

my name is jenny iam 56 yrs old

In [5]:
#keyword argument
def add(name,age):
     print("my name is", name, "iam", age,"yrs old")    
l=add("jenny", age=56)
l

my name is jenny iam 56 yrs old

*arg and **kwarg

In [6]:
def add(*name,age):
     print("my name is", name, "iam", age,"yrs old")  
    
l=add("jenny"," priya", age=56)

my name is ('jenny', ' priya') iam 56 yrs old

In [7]:
def add(*name,**age):
     print("my name is", name, "iam", age,"yrs old")  
    
l=add("jenny"," priya", age=(56,56,34))

my name is ('jenny', ' priya') iam {'age': (56, 56, 34)} yrs old

Recursin in functions

Using Recursion in factorial 
n! is defined as n*(n-1)!, so to find out (n-1)! needs (n-2)! so on....here we use a function which call itself again and again to find out these each factorials. here where we use recursion.

In [216]:
def fact(n):
    if n==0:
        return 1
    return n*fact(n-1)

number=int(input("entr the nmbr to fnd fctorial"))
print('fctrial of',number,'is',fact(number))

entr the nmbr to fnd fctorial 5

fctrial of 5 is 120

In [210]:
n=int(input("entr the nmbr to fnd fctorial"))
r=1
for i in range(1,n+1):
    r=r*i
    i+=1
print("fctrial of",n,"is",r)

entr the nmbr to fnd fctorial 4

fctrial of 4 is 24

scope in python(global and local variables)

In [176]:
i=10
def vrb(values):
    i=15
    print("print local", i)

print(vrb(i))
print("print global", i)

print local 15
None
print global 10

In [177]:
#assigning global variable as local{using global keyword}
i=10
def vrb(values):
    global i
    #i=15
    print("print local", i)

print(vrb(i))
print("print global", i)

print local 10
None
print global 10

In [178]:
i=30
def vrb(values):
    x=globals()["i"]
    print("print local", i)

print(vrb(i))
print("print global", i)

print local 30
None
print global 30

In [179]:
i=30
y=3
u=4
def vrbl(values):
    x=globals()
    print("print local",x)


#print("print global", )

Anonymous functions in python (lambda functions)

In [180]:
#lamda function
x= lambda a,b:a+b
print(x(2,3))

5

In [181]:
x= lambda a,b,c:(a+b)*c
print(x(2,3,4))

20

In [182]:
#filter() function 
def fil(n):
    return n%2 ==0

lst=[1,2,3,4,14,12]
e=list(filter(fil,lst))
print(e)

[2, 4, 14, 12]

In [183]:
#filter() function using lambda function
lst=[1,2,3,4,14,12]
e=list(filter(lambda n: n%2==0,lst))
print(e)

[2, 4, 14, 12]

In [184]:
#map() function
def mp(n):
    return n*2

y=list(map(mp,lst))
print(y)

[2, 4, 6, 8, 28, 24]

In [185]:
#map() function using lambda function
lst=[1,2,3,4,14,12]
y=list(map(lambda n:n%2==0,lst))
print(y)

[False, True, False, True, True, True]

In [186]:
#reduce() function using lambda function
from functools import reduce
lst=[1,2,3,4,14,12]
g=reduce( lambda a,b:a+b,lst)
print(g)

36

Bitwise operators

 TILD operators(~)
 {reversing the bits
  0-1, 1-0}
 AND operators(&)
 {0,0=0
   0,1=0
   1,0=0
   1,1=1}
 OR operators(|)
  {0,0=0
   0,1=1
   1,0=1
   1,1=1}
 XOR operators(^) 
  {0,0=0
   0,1=1 
   1,0=1
   1,1=0}

In [187]:
print(12 & 12) # 12= 1100   13=1101 after AND oparator bit value become 1100=12
print(12 | 13) #  12= 1100  13=1101 after OR oparator bit value become 1101=13
print(12 ^ 13) # after XOR oparator bit value become 0001=1
print(~12) #  after TILD oparator bit value become

12
13
1
-13

In [188]:
#swaping function: it allows the values of two variables to be exchange with each other.
a=3
b=5
id_a=id(a)# id function is used to identify in which addres your value is stored in the memmory. 
print("a's id before swaping:",id_a)
print("print a abd b before swaping:",a,b)
#after swaping
temp=a
a=b
b=temp

print("print a and b after swaping:",a,b)
id_a1=id(a)
print("a's id after swaping:",id_a1)#afterswaping function 'a' value changed (ie, id changed)

a's id before swaping: 140713750575608
print a abd b before swaping: 3 5
print a and b after swaping: 5 3
a's id after swaping: 140713750575672

Random() functions: to generate random numbers. Random modules are used to create random number generation.
applications:

In [189]:
import random as rn #importing the module
random_number=rn.random() #generating random numbers
print(random_number)

lst=[]
for i in range(5):
    lst.append(rn.random()) #adding random numbers into the list
print(lst)

0.653861421183728
[0.9205029798307857, 0.23717854082847334, 0.18689691376315265, 0.641002271556665, 0.03268966868075984]

In [190]:
random_number=rn.randrange(10) #generating random numbers in a range
print("without step",random_number)

random_number=rn.randrange(0,10,2) #generating random numbers in a range, start and stop parameters are optional
print("with step",random_number)

without step 0
with step 8

randint() function
syntax:randint(start,end)
parameters: (start, end):must be int value
return: a random indeger in range[start, end] including the end value.

In [191]:
random_number=rn.randint(0,10)
print(random_number)

1

choice() function: it returns multiple random elements from the list with replacement.
syntax:
random.choices(sequence,wrights=None,cum_weights=None,k=1)
parameter:
sequence: mandatory, can be a list, tuple, string etc.
weights: